* {
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* margin: 0; */
  background-color: #011627;
  color: #fdfffc;
}

.main-container {
  max-width: 100%;
}

.form-container {
  margin: 15px;
  display: flex;
  justify-content: center;
}

.form-container button {
  margin-left: 10px;
}

.globe-container {
  display: flex;
  justify-content: center;
  width: 800px !important;
  height: 750px;
  max-width: 100%;
}

.globe-container-small {
  display: flex;
  justify-content: center;
  width: 800px !important;
  height: 450px;
  max-width: 100%;
}

.details-container {
  justify-content: center;
}

.details-container img {
  width: 150px;
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.general-details-split {
  display: flex;
  justify-content: space-evenly;
}

.split {
  padding: 5px;
  background-color: #92c9b1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #714955;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.sub-containers {
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.canvas {
  border-radius: 10px;
}

.scrollTop {
  position: fixed;
  width: 100%;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
